"*":
  core:
    devMode: false
    flags:
      if: true
    mainWindow:
      position:
        x: -1333
        y: 130
      sideBar:
        visible: false
      size:
        h: 763
        w: 1348
    themes: [
      "github-preview"
      "default-light-ui"
      "solarized-dark-syntax"
    ]
  editor:
    fontFamily: "-apple-system, BlinkMacSystemFont, \"Segoe UI\", Helvetica, Arial, sans-serif, \"Apple Color Emoji\", \"Segoe UI Emoji\", \"Segoe UI Symbol\""
    fontSize: 16
  preview:
    fontSize: 16
