"*":
  core:
    disabledPackages: []
    flags:
      if: true
    mainWindow:
      position:
        x: 171
        y: 71
      sideBar:
        visible: true
      size:
        h: 877
        w: 1507
  editor:
    fontFamily: "-apple-system, BlinkMacSystemFont, \"Segoe UI\", Roboto, Helvetica, Arial, sans-serif, \"Apple Color Emoji\", \"Segoe UI Emoji\", \"Segoe UI Symbol\";"
    fontSize: 16
